<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>My Account</title>
   <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
   <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
</head>

<body class="account-background">
    <div class="header">
        <h1>Welcome, {{ user.username }}!</h1>
        <p>Email: {{ user.email }}</p>
    </div>

    <div class="content">
        <h2>Need advice?</h2>
        <a href="/chatgpt" id="go-to-chatgpt">Message ChatGPT</a>

        <h2>Create shortcut</h2>
        <form method="POST" action="/create-shortcut">
            <label for="shortcut_title">Title:</label>
            <input type="text" name="shortcut_title" id="shortcut_title" required>
            <br>
            <label for="shortcut_url">URL:</label>
            <input type="text" name="shortcut_url" id="shortcut_url" required>
            <br>
            <button type="submit">Create shortcut</button>
        </form>

        <h2>Your shortcuts</h2>
        <ul id="shortcuts-list">
            {% for shortcut in shortcuts %}
                <li>
                    {{ shortcut.title }} - <a href="{{ shortcut.url }}">Link</a>
                    <form method="POST" action="/delete-shortcut/{{ shortcut.id }}" style="display:inline;">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <h2>Change password?</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% elif success %}
            <p style="color: rgb(8, 249, 96);">{{ success }}</p>
        {% endif %}
        <form method="POST" action="/account">
            <label for="current_password">Current password:</label>
            <input type="password" name="current_password" id="current_password" required>
            <br>
            <label for="new_password">New password:</label>
            <input type="password" name="new_password" id="new_password" required>
            <br>
            <label for="confirm_password">Confirm password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
            <br>
            <button type="submit">Change it now !</button>
        </form>
    </div>

    <div class="footer">
        <a href="/" class="logout-link">Logout</a>
    </div>
</body>

</html>